RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ index.php [L]
 <IfModule mod_headers.c>
 Header set X-Frame-Options "SAMEORIGIN"
 Header set Content-Security-Policy "frame-ancestors 'none'"
 Header set X-Content-Type-Options "nosniff"
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none'; base-uri 'self';"

Header set Content-Security-Policy "\
    script-src 'self' \
        https://unpkg.com \
        https://cloud.n1ed.com \
        https://cloud.flmngr.com \
        https://sweetalert.js.org/ \
        https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.3/dist/clipboard.min.js \
        https://cdn.jsdelivr.net/ \
        https://s.ytimg.com \
        https://cdn.public.flmngr.com \
        https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/js/lightgallery-all.min.js \
        https://maps.googleapis.com/ \
        https://www.gstatic.com/recaptcha/releases/Ya-Cd6PbRI5ktAHEhm9JuKEu/recaptcha__es.js \
        https://www.google.com/recaptcha/api.js \
        https://www.youtube.com/player_api \
        https://www.googletagmanager.com/ \
        https://www.youtube.com/s/player/787e9b63/www-widgetapi.vflset/www-widgetapi.js \
        https://www.google-analytics.com/analytics.js \
        https://www.gstatic.com/recaptcha/releases/u-xcq3POCWFlCr3x8_IPxgPu/recaptcha__es.js \
        https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js \
        https://cdn.metroui.org.ua/current/metro.js \
        https://checkout.epayco.co/checkout.js \
        'unsafe-inline'; \
    style-src 'self' 'unsafe-inline' \
        https://cdn.jsdelivr.net/npm/wickedpicker@0.4.3/dist/wickedpicker.min.css \
        https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css \
        https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.0/css/lightgallery.min.css \
        https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css \
        https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css \
        https://cdn.metroui.org.ua/current/metro.css \
        https://checkout.epayco.co/checkout.js \
        https://secure.epayco.co/validation/v1/reference/ \
        https://www.gstatic.com/recaptcha/releases/zIriijn3uj5Vpknvt_LnfNbF/recaptcha__es.js \
        https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css ;
"


</IfModule>


# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 300M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression On
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 30
   php_value max_input_time 60
   php_value max_input_vars 1000
   php_value memory_limit 300M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression On
</IfModule>
# END cPanel-generated php ini directives, do not edit

<Files 403.shtml>
order allow,deny
allow from all
</Files>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 240
   php_value max_input_time 90
   php_value max_input_vars 10000
   php_value memory_limit 256M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 240
   php_value max_input_time 90
   php_value max_input_vars 10000
   php_value memory_limit 256M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php8_module>
   php_flag display_errors Off
   php_value max_execution_time 240
   php_value max_input_time 90
   php_value max_input_vars 12000
   php_value memory_limit 256M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
<IfModule lsapi_module>
   php_flag display_errors Off
   php_value max_execution_time 240
   php_value max_input_time 90
   php_value max_input_vars 12000
   php_value memory_limit 256M
   php_value post_max_size 20M
   php_value session.gc_maxlifetime 1440
   php_value session.save_path "/opt/alt/php80/var/lib/php/session"
   php_value upload_max_filesize 20M
   php_flag zlib.output_compression Off
</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “alt-php80” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-alt-php80 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
